<div class="grid grid-cols-1 sm:grid-cols-2 h-[80vh]">
    <div class="font-['Cabin'] px-6 flex flex-col justify-center">
        <h1 class="font-['Dela_Gothic_One'] font-normal text-[1.5rem] md:text-[2rem] lg:text-[3rem] text-green-500">Bienvenido al sistema de gestion de citas en
            linea</h1>
        <div class="font-bold">
            <h3 class="text-[1.1rem] md:text-[1.3rem] lg:text-[1.5rem]">Aparta tu cita ya!</h3>
            <br>
        </div>
        <div class="text-center pb-2">
            <a class=" shadow bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 md:px-6 md:py-3 md:text-[1.1rem] lg:px-8 lg:py-4 lg:text-[1.3rem] rounded"
                href="?c=cita/nuevo">Pedir cita</a>
        </div>
    </div>
    <div class="flex items-center">
        <img src="assets/images/5127314.jpg" alt="No fount" srcset="">
    </div>
</div>
