<div class="grid grid-cols-1 sm:grid-cols-2 h-[80vh]">
    <div class="font-['Cabin']">
        <h1 class="font-['Dela_Gothic_One'] font-normal">Bienvenido al sistema de gestion de citas en linea</h1>
        <div class="font-bold">
            <h3>Aparta tu cita ya!</h3>
            <h3>Accede desde el siguiente boton par pedir una cita </h3>
            <br>
        </div>
        <a class=" shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" href="?c=cita/nuevo">Pedir cita</a>
    </div>
    <div class="">
        <img src="assets/images/5127314.jpg" alt="No fount" srcset="">
    </div>
</div>